@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&family=VT323&display=swap');


:root {
    --text-color: hsl(200, 15%, 8%);
    --background-color: hsl(0, 0%, 98%);
    --elements-background: hsl(0, 0%, 100%);
    --transition-duration: 0.6s;
}

body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--background-color);
}

footer{
}
*{
    margin: unset;
}
h1,h2,h3,h4,h5,h6{
    font-family: "nunito sans";
    font-weight: 800;
    margin: unset;
    color: var(--text-color);
}

a h5, footer span{
    font-family: "vt323";
    font-size: 2rem;
}
span{
    color: var(--text-color);
    transition: color var(--transition-duration);

}
a{
    text-decoration: none;
    color: hsl(209, 23%, 22%);
}

.sun{
    color: #ffd877;

}
.moon{
    color: #fff;
}



header{
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    z-index: 3;
    margin-bottom: 0rem;
    position: relative;
    z-index: 1;
}
.header{
    display: flex;
    background-color: var(--elements-background);
    color: var(--text-color);
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem 2rem;
    transition: background-color var(--transition-duration), color var(--transition-duration);
    flex-wrap: wrap;
    gap: 0.5rem;
}
.header div{
    margin-inline: 0.5rem;
}
#view-mode{
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    cursor: pointer;
    padding: 1rem;
    width: 100px;
}
main{
    background-color: var(--background-color);
    transition: background-color var(--transition-duration);
    position: relative;
    z-index: 0;
}
footer{
    background-color: var(--elements-background);
    transition: background-color var(--transition-duration);
    position: relative;
    z-index: 1;
    margin-top: auto;


}
.footer{
    padding: 1rem 2rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 25px;
    align-items: center;
    box-shadow: 0px -4px 20px rgba(0, 0, 0, 0.1);

}
.footer a{
    color: var(--text-color);
    transition: color var(--transition-duration);

}
.footer h5{
  font-size: 1.5rem;
}



#countriesContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    padding: 5rem 0;
    justify-content: center;
}

.card{
    width: 350px;
    /* height: 350px; */
    background-color: var(--elements-background);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    padding-bottom: 2rem;

    
}
.card a{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    gap: 2rem;
}
.card a img{
    max-width: 100%;
    height: 60%;
}

.card .countryInfo{
    height: 50%;
    padding: 0rem 2rem ;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.countryInfo h2{
    color: var(--text-color);

}

.countryDetails{
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.countryDetails p{
    font-family: "nunito sans";
    color: var(--text-color);
    font-weight: 300;

    
}
.countryDetails span{
    font-weight: 800;
    font-family: "nunito sans";
    color: var(--text-color);
}
.backBtn{
    align-self: flex-start;
    display: flex;
    align-items: center;
    background-color: var(--elements-background);
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
    padding: 0.5rem 2rem;
}
.backBtn i{
    color: var(--text-color);
}
.backBtn p {
    margin-left: 1rem;
    color: var(--text-color);
    font-family: "nunito sans";
}
.countryMainPage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 2rem 4rem 5rem;
    gap: 5vh;
}
.countryPage{
    width: 100%;
    display: flex;
    gap: 10%;
    justify-content: space-evenly;
    flex-basis: 100px;
    flex-wrap: wrap;
}

.countryPage img{
    width: 100%;
    max-width: 450px;
    height: 40vw;
    min-width: 200px;
    max-height: 350px;
    align-self: center;
    display: flex;
    margin: 2rem 0;
    
}

.countryPage > div{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: flex-start;
    justify-content: center;
    flex-grow: 1;
    max-width: 500px;
}
.countryPage > div h1{
    width: auto;
    color: var(--text-color);
    display: flex;
    justify-self: center;
}
.countryPage > div .countryDetails{
    height: fit-content;
    display: flex;
    flex-direction: column;
    column-count: 2;
    column-width: 20%;
    flex-wrap: wrap;
    width: 100%;
    column-gap: 4vw;
}
.countryPage > div .countryDetails p{
    overflow-wrap: break-word;
}


.countryMainPage .countryPage .borders{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: unset;
    column-gap: 1rem;
    width: 100%;
}
.borders p {
    margin-right: 0.5rem;
}
.borders a{
    display: flex;
    align-items: center;
    background-color: var(--elements-background);
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    padding: 0.2rem 1.2rem;
    color: var(--text-color);
    font-family: "nunito sans";
    font-weight: 300;
    font-size: 0.9rem;
    transition: background-color 0.2s ease, box-shadow 0.2s ease;
}
.borders a:hover{
  background-color: var(--background-color);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);

}
.search {
    display: flex;
    min-width: 120px;
    max-width: 180px;
    align-items: center;
  }
  
  .search__form {
    position: relative;
    width: 100%;
  }
  
  .search__label {
    display: none;
  }
  
  .search_input {
    width: 100%;
    margin: 0;
    padding: 10px;
    font-size: 1rem;
    font-family: "nunito sans";
    border-radius: 10px;
    background-color: var(--background-color);
    border: 1px solid var(--elements-background);
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
    color: var(--text-color);

  }
  
  .search_results {
    position: absolute;
    top: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    z-index: 1;
    list-style: none;
    background-color: var(--elements-background);
    font-family: "nunito sans";
    color: var(--text-color);
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 10px 10px;
    overflow: hidden;
  }
  
  .search__result {
    font-size: 1.2rem;
    border-bottom: 5px solid var(--background-color);
    overflow: hidden;

  }
  
  .search__result a {
    padding: 10px;
    color: var(--text-color);
    text-decoration: none;
    display: block;
  }
  .search__result a:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }

  .noFound{
    padding: 10px 5px;
    font-style: italic;
  }

  ::placeholder { 
    color: var(--text-color);
    opacity: 1; 
  }
  
  :-ms-input-placeholder { 
    color: var(--text-color);
  }
  
  ::-ms-input-placeholder { 
    color: var(--text-color);
  }


  .filer-container{
    color: var(--text-color);
    font-family: "nunito sans";
 
  }

  .filters{
    display: flex;
    align-items: center;
    justify-content:center;
    padding-top: 2rem;
    gap: 2rem;
    position: relative;
    flex-wrap: wrap;

  }
  .filters div span{
    display: flex;
    color: var(--text-color);
    font-family: "nunito sans";
    background-color: var(--elements-background);
    padding: 1rem;
    border-radius: 15px;
    gap: 0.5rem;
    align-items: center;
    cursor: pointer;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  }
  .filters div{
    width: fit-content;
    position: relative;
    max-height: fit-content;
    width: fit-content;
  }

  .filters ul{
    display: none;
    background-color: var(--elements-background);
    border-radius:0 0 15px 15px;
    overflow: hidden;
  }

  .filters .active-options{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    padding: 0.2rem 0;
    text-align: left;
    color: var(--text-color);
    margin-top: -12px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 500px;
    z-index: 1;
    




  }
  .filters .active-options li{
    list-style: none;
    padding: 1rem;
    font-family: "nunito sans";
    border-bottom: 1px solid grey;
    cursor: pointer;
    color: var(--text-color);
  }
  .filters .active-options li:hover{
    background-color: var(--background-color);
    cursor: pointer;
  }

.filters .active-options li:last-child{
    
    border-bottom: initial;

  }

  /* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--background-color); 
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
  .filters .removeFilter{
    visibility: hidden;
  }
  .filters .removeFilter span{
    background-color: rgb(78, 78, 78);
    font-weight: bold;
    color: white
  }
  .filters .removeFilter span i{
    font-size: 1.2rem;
  }

  #filterBy{
    padding-top: 25px;
    padding-left: 10%;
    color: var(--text-color);
  }

  .travelTitle{
    padding-top: 25px;
    text-align: center;
  }

  #goToTravelList{
    display: flex;
    flex-direction: row;
    color: var(--text-color);
    align-items: center;
    gap:10px;
    font-family: "nunito sans";
    font-weight: 600;
    background-color: var(--background-color);
    padding: 10px;
    border-radius: 10px;
    margin: 1rem 0;
  }
  #goToTravelList:hover{
    background-color: var(--elements-background);
  }
  