<div class="header">
    <h1>Where in the world?</h1>
    <div class="search">
        <form method="get" class="search__form">
          <div>
            <label for="search" class="search__label">Search Country</label>
            <input
              type="search"
              name="search"
              id="search"
              placeholder="Search Country..."
              autocomplete="off"
              class="search_input"
            />
          </div>
          <ul class="search_results">
          </ul>
        </form>
      </div>
    <div id="view-mode">
        <i  id="view-mode-icon" class="fa-solid fa-sun sun" ></i>
        <h5 id="view-mode-desc">Light Mode</h5>
    </div>
</div>